In [152]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [153]:
state_pop_df = pd.read_csv('state_population.csv')
state_suicide_df = pd.read_csv('state_suicide_rate.csv')
state_obesity_df = pd.read_csv('state_obesity_rate.csv')

In [154]:
# Clean CSV
state_pop_df.rename(columns={'NAME':'STATE'}, inplace=True)
state_pop_df.set_index(state_pop_df['STATE'], inplace=True)
state_pop_df.drop(columns=['STATE'], inplace=True)
state_pop_df

                          POPULATION
STATE
United States              318857056
Alabama                      4849377
Alaska                        736732
Arizona                      6731484
Arkansas                     2966369
California                  38802500
Colorado                     5355866
Connecticut                  3596677
Delaware                      935614
District of Columbia          658893
Florida                     19893297
Georgia                     10097343
Hawaii                       1419561
Idaho                        1634464
Illinois                    12880580
Indiana                      6596855
Iowa                         3107126
Kansas                       2904021
Kentucky                     4413457
Louisiana                    4649676
Maine                        1330089
Maryland                     5976407
Massachusetts                6745408
Michigan                     9909877
Minnesota                    5457173
Mississippi                  2994079
Missouri                     6063589
Montana                      1023579
Nebraska                     1881503
Nevada                       2839099
New Hampshire                1326813
New Jersey                   8938175
New Mexico                   2085572
New York                    19746227
North Carolina               9943964
North Dakota                  739482
Ohio                        11594163
Oklahoma                     3878051
Oregon                       3970239
Pennsylvania                12787209
Rhode Island                 1055173
South Carolina               4832482
South Dakota                  853175
Tennessee                    6549352
Texas                       26956958
Utah                         2942902
Vermont                       626562
Virginia                     8326289
Washington                   7061530
West Virginia                1850326
Wisconsin                    5757564
Wyoming                       584153
Puerto Rico Commonwealth     3548397

In [155]:
# Clean CSV
state_suicide_df.set_index(state_suicide_df['STATE'], inplace=True)
state_suicide_df.drop(columns=['STATE.1'], inplace=True)
state_suicide_df.drop(columns=['STATE'], inplace=True)
state_suicide_df

                YEAR  RATE DEATHS
STATE
Alabama         2014  14.5    715
Alaska          2014  22.1    167
Arizona         2014  18.0  1,244
Arkansas        2014  17.3    515
California      2014  10.5  4,214
Colorado        2014  19.9  1,083
Connecticut     2014   9.8    379
Delaware        2014  13.2    126
Florida         2014  13.9  3,035
Georgia         2014  12.6  1,294
Hawaii          2014  13.8    204
Idaho           2014  20.0    320
Illinois        2014  10.5  1,398
Indiana         2014  14.3    948
Iowa            2014  12.9    407
Kansas          2014  15.7    455
Kentucky        2014  15.9    727
Louisiana       2014  14.3    679
Maine           2014  15.7    220
Maryland        2014   9.8    606
Massachusetts   2014   8.2    596
Michigan        2014  13.3  1,354
Minnesota       2014  12.2    686
Mississippi     2014  12.5    380
Missouri        2014  16.3  1,017
Montana         2014  23.9    251
Nebraska        2014  13.4    251
Nevada          2014  19.6    573
New Hampshire   2014  17.8    247
New Jersey      2014   8.3    786
New Mexico      2014  21.0    449
New York        2014   8.1  1,700
North Carolina  2014  13.0  1,351
North Dakota    2014  17.8    137
Ohio            2014  12.6  1,491
Oklahoma        2014  19.1    736
Oregon          2014  18.6    782
Pennsylvania    2014  13.3  1,817
Rhode Island    2014  10.1    113
South Carolina  2014  15.2    753
South Dakota    2014  17.1    141
Tennessee       2014  14.1    948
Texas           2014  12.2  3,254
Utah            2014  20.5    559
Vermont         2014  18.7    124
Virginia        2014  12.9  1,122
Washington      2014  15.2  1,119
West Virginia   2014  18.1    359
Wisconsin       2014  13.1    769
Wyoming         2014  20.6    120

In [156]:
# Clean Up CSV
state_obesity_df.set_index(state_obesity_df['STATE'], inplace=True)
state_obesity_df.drop(columns=['STATE.1'], inplace=True)
state_obesity_df.drop(columns=['STATE'], inplace=True)
state_obesity_df
# Create Final CSV for Suicide vs. Obesity Analysis
suicide_vs_obesity_df = state_pop_df.join(state_suicide_df)
suicide_vs_obesity_df = suicide_vs_obesity_df.join(state_obesity_df)
suicide_vs_obesity_df.to_csv('Suicide_vs_Obesity_US_States.csv', index=True)

In [157]:
# Clean DataFrame
suicide_vs_obesity_df.dropna(inplace=True)
suicide_vs_obesity_df.rename(columns={'DEATHS':'NO_SUICIDES', 'PERCENTAGE':'OBESE PERCENTAGE'}, inplace=True)
suicide_vs_obesity_df.drop(columns=['RATE'], inplace=True)
suicide_vs_obesity_df['YEAR'] = suicide_vs_obesity_df['YEAR'].astype(int)

In [158]:
suicide_vs_obesity_df

                POPULATION  YEAR NO_SUICIDES  OBESE PERCENTAGE
STATE
Alabama            4849377  2014         715              33.5
Alaska              736732  2014         167              29.7
Arizona            6731484  2014       1,244              28.9
Arkansas           2966369  2014         515              35.9
California        38802500  2014       4,214              24.7
Colorado           5355866  2014       1,083              21.3
Connecticut        3596677  2014         379              26.3
Delaware            935614  2014         126              30.7
Florida           19893297  2014       3,035              26.2
Georgia           10097343  2014       1,294              30.5
Hawaii             1419561  2014         204              22.1
Idaho              1634464  2014         320              28.9
Illinois          12880580  2014       1,398              29.3
Indiana            6596855  2014         948              32.7
Iowa               3107126  2014         407              30.9
Kansas             2904021  2014         455              31.3
Kentucky           4413457  2014         727              31.6
Louisiana          4649676  2014         679              34.9
Maine              1330089  2014         220              28.2
Maryland           5976407  2014         606              29.6
Massachusetts      6745408  2014         596              23.3
Michigan           9909877  2014       1,354              30.7
Minnesota          5457173  2014         686              27.6
Mississippi        2994079  2014         380              35.5
Missouri           6063589  2014       1,017              30.2
Montana            1023579  2014         251              26.4
Nebraska           1881503  2014         251              30.2
Nevada             2839099  2014         573              27.7
New Hampshire      1326813  2014         247              27.4
New Jersey         8938175  2014         786              26.9
New Mexico         2085572  2014         449              28.4
New York          19746227  2014       1,700              27.0
North Carolina     9943964  2014       1,351              29.7
North Dakota        739482  2014         137              32.2
Ohio              11594163  2014       1,491              32.6
Oklahoma           3878051  2014         736              33.0
Oregon             3970239  2014         782              27.9
Pennsylvania      12787209  2014       1,817              30.2
Rhode Island       1055173  2014         113              27.0
South Carolina     4832482  2014         753              32.1
South Dakota        853175  2014         141              29.8
Tennessee          6549352  2014         948              31.2
Texas             26956958  2014       3,254              31.9
Utah               2942902  2014         559              25.7
Vermont             626562  2014         124              24.8
Virginia           8326289  2014       1,122              28.5
Washington         7061530  2014       1,119              27.3
West Virginia      1850326  2014         359              35.7
Wisconsin          5757564  2014         769              31.2
Wyoming             584153  2014         120              29.5

In [159]:
# Calculate Percentage of Suicides per State
suicide_vs_obesity_df['NO_SUICIDES'] = suicide_vs_obesity_df['NO_SUICIDES'].str.replace(',','')
suicide_vs_obesity_df['NO_SUICIDES'] = suicide_vs_obesity_df['NO_SUICIDES'].astype(int)
suicide_vs_obesity_df['SUICIDE PERCENTAGE'] = (suicide_vs_obesity_df['NO_SUICIDES']/suicide_vs_obesity_df['POPULATION'])

In [160]:
suicide_percentage = suicide_vs_obesity_df['SUICIDE PERCENTAGE'].apply(lambda x: x *100).round(3)

In [161]:
suicide_frame_percent = suicide_percentage.to_frame()
suicide_frame_percent = suicide_frame_percent.rename(columns={'SUICIDE PERCENTAGE':'Percentage of Suicide'}, inplace=True)

In [162]:
suicide_frame_percent.join(suicide_vs_obesity_df)

AttributeError: 'NoneType' object has no attribute 'join'

In [163]:
suicide_vs_obesity_df = suicide_vs_obesity_df.drop(columns=['SUICIDE PERCENTAGE'], inplace=True)

In [164]:
suicide_vs_obesity_df.rename(columns={'Percentage of Suicide':'SUICIDE PERCENTAGE'}, inplace=True)

AttributeError: 'NoneType' object has no attribute 'rename'