In [16]:
import pandas as pd
import numpy as np

In [17]:
# Show dataset and create an index
suicide_df = pd.read_csv('master.csv', index_col='country')
suicide_df.head()

,year,sex,age,suicides_no,population,suicides/100k pop,country-year,HDI for year,gdp_for_year ($),gdp_per_capita ($),generation
country,,,,,,,,,,,
Albania,1987,male,15-24 years,21,312900,6.71,Albania1987,NaN,"2,156,624,900",796,Generation X
Albania,1987,male,35-54 years,16,308000,5.19,Albania1987,NaN,"2,156,624,900",796,Silent
Albania,1987,female,15-24 years,14,289700,4.83,Albania1987,NaN,"2,156,624,900",796,Generation X
Albania,1987,male,75+ years,1,21800,4.59,Albania1987,NaN,"2,156,624,900",796,G.I. Generation
Albania,1987,male,25-34 years,9,274300,3.28,Albania1987,NaN,"2,156,624,900",796,Boomers

In [18]:
suicide_df.columns

Index(['year', 'sex', 'age', 'suicides_no', 'population', 'suicides/100k pop',
       'country-year', 'HDI for year', ' gdp_for_year ($) ',
       'gdp_per_capita ($)', 'generation'],
      dtype='object')

In [19]:
# Rename columns as some are misformatted
suicide_df.rename(columns={' gdp_for_year ($) ':'gdp_for_year ($)'}, inplace=True)
suicide_df.columns

Index(['year', 'sex', 'age', 'suicides_no', 'population', 'suicides/100k pop',
       'country-year', 'HDI for year', 'gdp_for_year ($)',
       'gdp_per_capita ($)', 'generation'],
      dtype='object')

In [20]:
# Remove columns we don't need or will use in our analysis
suicide_df = suicide_df.drop(columns=['country-year','HDI for year']).head()

In [22]:
suicide_df.head()

,year,sex,age,suicides_no,population,suicides/100k pop,gdp_for_year ($),gdp_per_capita ($),generation
country,,,,,,,,,
Albania,1987,male,15-24 years,21,312900,6.71,"2,156,624,900",796,Generation X
Albania,1987,male,35-54 years,16,308000,5.19,"2,156,624,900",796,Silent
Albania,1987,female,15-24 years,14,289700,4.83,"2,156,624,900",796,Generation X
Albania,1987,male,75+ years,1,21800,4.59,"2,156,624,900",796,G.I. Generation
Albania,1987,male,25-34 years,9,274300,3.28,"2,156,624,900",796,Boomers

In [25]:
# Normalize and change 'gdp_per_capita ($)' column into an integer dtype
suicide_df['gdp_for_year ($)'] = suicide_df['gdp_for_year ($)'].str.replace(',','')
suicide_df['gdp_for_year ($)'] = suicide_df['gdp_for_year ($)'].astype(int)

In [26]:
suicide_df.dtypes

year                    int64
sex                    object
age                    object
suicides_no             int64
population              int64
suicides/100k pop     float64
gdp_for_year ($)        int64
gdp_per_capita ($)      int64
generation             object
dtype: object

In [29]:
# Check for null values in the dataset
def num_missing(x):
    return sum(x.isnull())
# Apply Per Column
print ("Missing values per column:")
print (suicide_df.apply(num_missing, axis=0))

Missing values per column:
year                  0
sex                   0
age                   0
suicides_no           0
population            0
suicides/100k pop     0
gdp_for_year ($)      0
gdp_per_capita ($)    0
generation            0
dtype: int64

In [ ]:
# Suicide_df is pretty clean